<link rel="import" href="../components/bower_components/polymer/polymer.html">

<!-- Fonts -->
<link rel='import' href='../components/bower_components/font-roboto/roboto.html'>

<!-- Polymer & Polymer Core Components -->
<link rel='import' href='../components/bower_components/polymer/polymer.html'>
<link rel="import" href="../components/bower_components/polymer/layout.html">
<link rel="import" href="../components/bower_components/iron-a11y-keys/iron-a11y-keys.html">
<link rel="import" href="../components/bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../components/bower_components/iron-ajax/iron-ajax.html">
<!--<link rel="import" href="../components/bower_components/iron-flex-layout/iron-flex-layout.html">-->

<link rel="import" href="../components/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../components/bower_components/iron-icons/av-icons.html">
<link rel="import" href="../components/bower_components/iron-icons/communication-icons.html">
<link rel="import" href="../components/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../components/bower_components/iron-icons/editor-icons.html">
<link rel="import" href="../components/bower_components/iron-icons/hardware-icons.html">
<link rel="import" href="../components/bower_components/iron-icons/image-icons.html">
<link rel="import" href="../components/bower_components/iron-icons/maps-icons.html">
<link rel="import" href="../components/bower_components/iron-icons/notification-icons.html">
<link rel="import" href="../components/bower_components/iron-icons/social-icons.html">

<!-- Polymer Paper Components -->
<link rel="import" href="../components/bower_components/paper-ripple/paper-ripple.html">
<link rel="import" href="../components/bower_components/paper-item/paper-item.html">
<link rel="import" href="../components/bower_components/paper-input/paper-input.html">
<link rel="import" href="../components/bower_components/paper-button/paper-button.html">
<link rel="import" href="../components/bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../components/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../components/bower_components/paper-toolbar/paper-toolbar.html">


<dom-module id="landing-page">
    <!-- CSS -->
    <link rel="import" type="css" href="../assets/materialize/css/materialize.css"  />
    <link rel="import" type="css" href='../assets/app/css/kitchen.css'>

    <style>
        :host{
            height:100%;
            width:100%;
        }

       /* .landing-content{
            @apply(--layout --layout-horizontal --layout-fit --layout-center-center)
        }

        .landing-section{
            @apply(--layout-vertical --layout-center --layout-fit --layout-center-center)
        }

        paper-item{
            @apply(--layout-flex)
        }*/
    </style>

    <template>
        <paper-toolbar style="z-index:12; padding:0 3%;" class="purple darken-1 white-text">
            <paper-item hash="{{link.hash}}" noink flex>
                <i class="mdi-hardware-cast-connected white-text small"></i>
                <a href="/">dweetster</a>
            </paper-item>
            <!--<template repeat="{{link in links}}">
                <span><a href="#{{link.hash}}">{{link.name}}</a></span>
            </template>-->
        </paper-toolbar>
        <div class="landing-content orange darken-1 white-text" layout horizontal fit center-center>
            <section hash="home" class="landing-section" layout vertical center-center>
                <i class="large mdi-hardware-cast-connected white-text small jumbotron-icon" style="align-self:center;"></i>
                <h2>Your 'things' are dweeting!</h2>
                <p style="font-size:20px;">Register, Find & Track them with dweetster</p>
                <paper-input id="thing_name" value="{{thingName}}" label="Type your thing name here & hit 'Enter'" floatingLabel ></paper-input>
            </section>
        </div>
        <iron-a11y-keys target="{{parentElement}}" keys="enter up" on-keys-pressed="{{keyHandler}}"></iron-a11y-keys>
    </template>
</dom-module>

<script>
    (function(window) {
        var constructor = Polymer({

            is: 'landing-page',

            /**
             * ...
             *
             * @attribute properties
             * @type object
             * @default
             */
            properties: {
                name: 'sensor-tile-app',

                /**
                 * ...
                 *
                 * @attribute thingName
                 * @type string
                 * @default ''
                 */
                thingName: '',

                links: [
                    {name: 'dweet?', hash: 'about', url:'views/about.html'},
                    {name: 'Discover', hash: 'discover', url:''},
                    {name: 'Register', hash: 'register', url:''}
                ],

                keyHandler: function(e, detail, sender){
                    var thing_name = this.thingName;
                    if(thing_name !== null && thing_name !== undefined && thing_name !== ''){
                        //make a call to get a dweet from the thing-name entered
                        dweetio.get_latest_dweet_for(thing_name, function(err, dweet){
                            if(dweet !== null && dweet !== undefined && dweet.length >= 1 ){
                                //..check to see if a profile for this thing exists already, if not,
                                //..take them to the profile creation page
                                var exists = false; //mock thi as false for now. Will add DB support soon :P
                                if(exists){
                                }
                                else{
                                    //Take them to create a profile for thier thing
                                    document.querySelector('app-router').go('/new/' + thing_name);
                                }
                            }
                            else {
                                //let them know their thing does not exist
                                document.querySelector('app-router').go('/nothing');
                            }
                        });
                    }
                }
            },

            ready: function () {
            }
        });
    })();
</script>