<link rel="import" href="../components/bower_components/polymer/polymer.html">

<!-- Fonts -->
<link rel='import' href='../components/bower_components/font-roboto/roboto.html'>


<dom-module id="landing-page">

    <style>
        .page-container{
            width:100% !important; 
            min-height:100vh;
            background-color: #464A65;
        }

        .page-header-text{
            font-weight:300;
        }

        .btn-transparent{
            background-color: transparent !important;
            border: solid 2px #ffffff;
            box-shadow:none;
            line-height:50px;
        }
    </style>

    <template>
        <div class="layout vertical center fit page-container">
            <div class="section no-pad-bot" id="index-banner">
                <div>
                    <br><br>
                    <h2 class="header center white-text page-header-text">Connecting Gamers With Gamers</h2>
                    <div class="row center">
                        <h5 class="header col s12 light white-text" style="font-size:1.2rem;"><strong>Parallel</strong> helps connect gamers with other gamers, for <strong>any game</strong>, on <strong>any major console</strong>,</h5>
                        <h5 class="header col s12 light white-text" style="font-size:1.2rem; margin-top:-2px;">from <strong>anywhere in the world</strong></h5>
                    </div>
                    <br />
                    <div class="row center">
                        <a href="#/" id="download-button" class="btn-large waves-effect waves-light blue accent-2" style="border-radius:5px; margin-right:30px;">Learn more</a>
                        <a href="#/" id="download-button" class="btn-large waves-effect waves-light btn-transparent" style="border-radius:5px;">
                            <span style="margin-top:-2px;">Check it out</span>
                        </a>
                    </div>
                    <br><br>
                </div>
            </div>

            <div class="container">
                <div class="section">
                    <!--   Icon Section   -->
                    <div class="row">
                        <div class="col s12 m4">
                            <div class="icon-block">
                                <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
                                <h5 class="center">Speeds up development</h5>
                                <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
                            </div>
                        </div>
                        <div class="col s12 m4">
                            <div class="icon-block">
                                <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
                                <h5 class="center">User Experience Focused</h5>
                                <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
                            </div>
                        </div>
                        <div class="col s12 m4">
                            <div class="icon-block">
                                <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
                                <h5 class="center">Easy to work with</h5>
                                <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br>
                <div class="section">
                </div>
            </div>
            <footer class="page-footer orange">
                <div class="container">
                    <div class="row">
                        <div class="col l6 s12">
                            <h5 class="white-text">Company Bio</h5>
                            <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>

                        </div>
                        <div class="col l3 s12">
                            <h5 class="white-text">Settings</h5>
                            <ul>
                                <li><a class="white-text" href="#!">Link 1</a></li>
                                <li><a class="white-text" href="#!">Link 2</a></li>
                                <li><a class="white-text" href="#!">Link 3</a></li>
                                <li><a class="white-text" href="#!">Link 4</a></li>
                            </ul>
                        </div>
                        <div class="col l3 s12">
                            <h5 class="white-text">Connect</h5>
                            <ul>
                                <li><a class="white-text" href="#!">Link 1</a></li>
                                <li><a class="white-text" href="#!">Link 2</a></li>
                                <li><a class="white-text" href="#!">Link 3</a></li>
                                <li><a class="white-text" href="#!">Link 4</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer-copyright">
                    <div class="container">
                        Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
                    </div>
                </div>
            </footer>
        </div>
    </template>
</dom-module>

<script>
    (function(window) {
        var constructor = Polymer({

            is: 'landing-page',

            /**
             * ...
             *
             * @attribute properties
             * @type object
             * @default
             */
            properties: {
                name: 'landing-page',
            },

            ready: function () {
            }
        });
    })();
</script>