<link rel="import" href="../components/bower_components/polymer/polymer.html">

<link rel='import' href='../components/bower_components/font-roboto/roboto.html'>

<!-- Custom Imports -->
<link rel="import" href="../imports/side-nav-profile.html" />
<link rel="import" href="../imports/side-nav-contents.html" />
<link rel="import" href="../imports/sign-in-button.html" />

<dom-module id="new-request">
    <style>
        :host{
        }

		/*.row .col {
			padding-left:0 !important;
		}*/

		.selected-game {
			color: #FB8C00 !important;
			font-weight:400;
		}

        .new-request-logo-link{
            text-decoration: none;
            font-size:2rem;
			/*margin-left:2%;*/
        }

		.filter-tags {
			width:65px;
            margin-top:7px !important;
		}

		.game-image {
			border-radius: 5px;
		}
		
		.tag-neutral {
			background-color:#ffffff; 
			color: #bdbdbd;
			font-size:1rem; 
			padding:3px 13px; 
			border:solid 2px #BDBDBD; 
			border-radius:5px;
			cursor:pointer;
			margin:0 5px;
			max-height:30px !important;
		}

		.time-tag {
			background-color:#ffffff; 
			color: #bdbdbd;
			font-size:1rem; 
			padding:2px 13px 5px 13px; 
			border:solid 2px #BDBDBD; 
			border-radius:5px;
			cursor:pointer;
			margin:0 5px;
			max-height:30px !important;
		}

		.time-tag.active {
			color: #ffff00;
			background-color: #ef6c00;
			border-color: #ef6c00;
			font-weight:500;
			/*box-shadow: 0 1px 5px 0 #e65100;*/
		}

		.psn-filter-tag {
			background-color:#01579B; 
			color:#ffffff !important;
			font-size:1rem; 
			padding:3px 13px; 
			border:solid 2px #01579B; 
			border-radius:5px;
			cursor:pointer;
			margin:0 5px;
			max-height:30px !important;
		}

		.xbox-filter-tag {
			background-color:#5DCB17; 
			color:#ffffff !important;
			font-size:1rem; 
			padding:3px 13px; 
			border:solid 2px #5DCB17; 
			border-radius:5px;
			cursor:pointer;
			margin:0 5px;
			max-height:30px !important;
		}

		.wii-filter-tag {
			background-color:#03A9F4; 
			color:#ffffff !important;
			font-size:1rem; 
			padding:3px 13px; 
			border:solid 2px #03A9F4; 
			border-radius:5px;
			cursor:pointer;
			margin:0 5px;
			max-height:30px !important;
		}

		.pc-filter-tag {
			background-color:#F44336; 
			color:#ffffff !important;
			font-size:1rem; 
			padding:3px 13px; 
			border:solid 2px #F44336; 
			border-radius:5px;
			cursor:pointer;
			margin:0 5px;
			max-height:30px !important;
		}

		#request_create_button {
			background-color: #EF6C00;
			color: #ffeb3b;
			text-transform:none;
			width:35%;
		}

		#paper-header-panel{
            border-bottom: solid 1px #ffffff;
        }

		.picker__date-display {
			background-color: #fb8c00 !important;
		}

		.lfg-toggle-button {
			--paper-toggle-button-checked-button-color: #ffff00;
			--paper-toggle-button-checked-bar-color: #fbc02d;
		}

        .lfg-main-toolbar{
            --paper-toolbar-background:{
                 background-color: transparent !important;
             };
        }

        .lfg-drawer-toolbar{
            --paper-toolbar-background: #ef6c00;
        }

        .lfg-main-header-panel{
            --paper-header-panel-cover-container:{
                 border: solid 1px #ffffff;
             };
        }

        .lfg-paper-fab{
            --paper-fab: {
                 position: fixed;
                 right: 0;
                 bottom: 0;
                 margin-right: 3%;
                 margin-bottom: 3%;
             };
            --paper-fab-background: #e65100;
        }

		.input-field {
			margin-top:0 !important;
			height:45px !important;
		}

        .lfg-input{
			color: #757575 !important;
			border:solid 2px #D5D5D5; 
			border-radius:5px;
            margin-left: 10px !important;
            /*color: #ffeb3b !important;*/
        }

		.lfg-input-details {
			color: #757575 !important;
			border:solid 2px #D5D5D5; 
			border-radius:5px;
			height:120px !important;
			padding-right:10px;
			overflow-y:auto;
			overflow-x:hidden;
            margin-left: 10px !important;
		}

		.lfg-input-search {
			border:solid 2px #D5D5D5; 
			border-radius:5px;
			color: #f57c00;
		}

		.lfg-input-details.input-field textarea {
			border-bottom: none;
            box-shadow: none;
			margin:-10px 10px 0 10px !important;
			height:60px;
		}

		.lfg-input-details.input-field textarea:focus {
			border-bottom:none;
            box-shadow: none;
		}

        /* label color */
        .lfg-input.input-field label {
            color: #ffffff;
        }

        .lfg-input.input-field input[type=text]{
            border-bottom: none;
            box-shadow: none;
			margin:-2px 10px 0 10px !important;
            /*font-size: 1.75rem;*/
        }

		.lfg-input-search.input-field input[type=text]{
            border: none !important;
            box-shadow: none;
			margin:-2px 10px 0 10px !important;
            /*font-size: 1.75rem;*/
        }

		.lfg-input.input-field input[type=number]{
            border-bottom: 1px solid #ffffff;
            box-shadow: 0 1px 0 0 #ffffff;
            font-size: 1.5rem;
        }

		.lfg-input-search.input-field input[type=text]:focus {
			border-bottom: none;
            box-shadow:none;
		}

        /* label focus color */
        .lfg-input.input-field input[type=text]:focus + label {
            color: #ffeb3b;
        }

        /* label underline focus color */
        .lfg-input.input-field input[type=text]:focus {
            border-bottom: none;
            box-shadow:none;
        }

		.lfg-input.input-field input[type=number]:focus {
            border-bottom: 1px solid #ffeb3b;
            box-shadow: 0 1px 0 0 #ffeb3b;
        }
        /* valid color */
        .lfg-input.input-field input[type=text].valid {
            border-bottom: none;
            box-shadow:none;
        }

		.lfg-input.input-field input[type=number].valid {
            border-bottom: 1px solid #ffffff;
            box-shadow: 0 1px 0 0 #ffffff;
        }

		.lfg-input-search.input-field input[type=text].valid {
			border-bottom: none;
            box-shadow: none;
		}
        /* invalid color */
        .lfg-input.input-field input[type=text].invalid {
            border-bottom: 1px solid #f44336 !important;
            box-shadow: 0 1px 0 0 #f44336 !important;
        }

		.lfg-input.input-field input[type=number].invalid {
            border-bottom: 1px solid #f44336 !important;
            box-shadow: 0 1px 0 0 #f44336 !important;
        }

		.lfg-input .select-wrapper input.select-dropdown .invalid {
			border-bottom: 1px solid #f44336 !important;
            box-shadow: 0 1px 0 0 #f44336 !important;
		}

        /* Icon prefix */
        .lfg-input.input-field .prefix {
            color: #ffffff;
        }

        /* icon prefix focus color */
        .lfg-input.input-field .prefix.active {
            color: #ffeb3b;
        }

		.lfg-input-search.input-field .prefix {
			margin-top: 5px;
			margin-left: 5px;
			color: #9e9e9e ;
		}

		.lfg-input-search.input-field .prefix.active {
			color: #f57c00;
		}

		.lfg-input .select-wrapper input.select-dropdown{
			border-bottom: 1px solid #ffffff;
            box-shadow: 0 1px 0 0 #ffffff;
		}


        .switch label.new-request input[type=checkbox].new-request:checked + .lever.new-request{
            background-color: #fff59d;
        }

        .switch.new-request label.new-request input[type=checkbox].new-request:checked + .lever.new-request:after{
            background-color:#ffff00;
        }

        .switch.new-request label.new-request input[type=checkbox].new-request:checked + .positive.new-request{
            background-color:#ffff00 !important;
        }

        .switch.new-request label.new-request input[type=checkbox].new-request:checked + .negative.new-request:after{
            background-color:#ffff00 !important;
        }

        .bottom-bar{
            margin-left:0px !important;
        }

        .content-area{
            width:100%;
            padding:0 2.5% 10% 2.5%;
            background-color:#ffffff;
        }

        .requests-card-panel{
            width: 100%;
            box-shadow: 0 2px 5px 0 #e65100;
            border-radius:0px;
        }

        .mic-required{
            margin-left: -35px !important;
        }

		.search-image {
			border-radius: 5px !important;
		}

        #time_options{
            margin-left:-4px;
        }

        @media (max-width: 640px){
            .new-request-logo-link{
                margin-left:0px;
            }

            .content-area{
                padding: 0 5% 5% 5%;
            }

            .lfg-paper-fab{
                --paper-fab: {
                     position: fixed;
                     right: 0;
                     bottom: 0;
                     margin-right: 3.5%;
                     margin-bottom: 3.5%;
                 };
                --paper-fab-background: #e65100;
            }

            .mic-required{
                margin-left: 0 !important;
            }
        }

    </style>

    <template>
        <paper-drawer-panel>
            <paper-header-panel mode="seamed" drawer class="orange darken-3">
                <paper-toolbar class="medium-tall lfg-drawer-toolbar">
                    <div class="middle">
                        <side-nav-profile class="center-center"></side-nav-profile>
                    </div>
                </paper-toolbar>
                <div class="fit orange darken-3">
                    <sign-in-button></sign-in-button>
					<side-nav-contents></side-nav-contents>
				</div>
            </paper-header-panel>
            <paper-header-panel mode="scroll" main class="lfg-main-header-panel white">
                <paper-toolbar class="medium-tall lfg-main-toolbar">
                    <paper-icon-button class="grey-text" icon="menu" paper-drawer-toggle></paper-icon-button>
                    <paper-icon-button class="grey-text" icon="arrow-back" on-click="goToList"></paper-icon-button>
                    <div class="flex"></div>
                    <div class="middle">
                    </div>
                    <div class="bottom">
                        <template is="dom-if" if="{{notSaved}}">
							<label class="new-request-logo-link grey-text text-darken-2 light not-saved" style="margin-left: 12px;">New Gaming Request</label>
						</template>
                    </div>
                </paper-toolbar>
                <div class="fit content-area">
					<template is="dom-if" if="{{notSaved}}">
						<div class="not-saved">Fill out this short form and get your request going</div>
					</template>
						
						<br>
						<br />

						<div id="new_request_form">
							<!--Game-->
							<div class="row select-game-row" >
								<div class="col s12">
									<label class="grey-text text-darken-2" style="font-size:1rem; margin-right:5px;">Game</label>
									<label class="red-text error-message" style="font-size:1rem; display:none;">**This is required</label>
								</div>
								<div class="layout horizontal col s12">
									<a on-click="showSearchModal" class="layout vertical center-center game-image-placeholder grey lighten-2 white-text" style="cursor:pointer; width:160px; height:90px; border-radius:5px; padding:0 7px; margin-right:15px;">
										<i class="fa fa-search"></i>
									</a>
									<a on-click="showSearchModal" class=" layout horizontal" style="cursor:pointer;">
                                        <span id="selected_game_image_placeholder" class="layout vertical center-center game-image-placeholder white-text" style="display:none; background-color:#FB8C00; width:160px; height:90px; border-radius:5px; padding:0 7px; margin-right:15px; margin-top:10px; font-size:0.75rem;"></span>
                                        <img id="selected_game_image" class="game-image" style="display:none; margin-right:15px;" width="160" height="90" />
                                        <span id="selected_game" class="grey-text light" style="font-size:1.5rem; margin-top:30px;">Select Game</span>
                                    </a>
								</div>
							</div>

							<br />

							<!--Console-->
							<div id="system_row" class="row">
								<div class="col s12">
									<label class="grey-text text-darken-2" style="font-size:1rem; margin-right:5px;">Console</label>
									<label class="red-text error-message" style="font-size:1rem; display:none;">**This is required</label>
								</div>
								<div class="layout horizontal wrap col s12" style="margin-left:-4px;">
									<span class="center center-align filter-tags tag-neutral" data-system="ps3">PS3</span>
									<span class="center center-align filter-tags tag-neutral" data-system="ps4">PS4</span>
									<span class="center center-align filter-tags tag-neutral" data-system="xbox360">X360</span>
									<span class="center center-align filter-tags tag-neutral" data-system="xboxOne">X1</span>
									<span class="center center-align filter-tags tag-neutral" data-system="wii">Wii</span>
									<span class="center center-align filter-tags tag-neutral" data-system="wiiu">Wii U</span>
									<span class="center center-align filter-tags tag-neutral" data-system="pc">PC</span>
								</div>
							</div>

							<br />

							<!--Time-->
							<div id="time_row" class="row">
								<div class="col s12" style="margin-bottom:10px;">
									<label class="grey-text text-darken-2" style="font-size:1rem; margin-right:5px;">Time</label>
									<label class="red-text error-message" style="font-size:1rem; display:none;">**This is required</label>
								</div>
								<div id="time_options" class="layout horizontal col s12">
									<span id="time_right_now" class="center center-align time-tag active">Right Now</span>

                                    <!-- Scheduled Request - Commented for now: We'll come back to this later -->
									<!--<span class="grey-text text-lighten-1" style="margin:3px 10px 0 10px;">or</span>
									<span id="time_future_date" class="center center-align time-tag">Future Date</span>-->
								</div>
                                <!-- Scheduled Request - Commented for now: We'll come back to this later -->
								<div id="time_fields" style="display:none;">
									<div class="lfg-input input-field col s4" style="margin-right:10px;">
										<input id="request_date" type="date" class="datepicker" placeholder="Date" />
									</div>
									<div class="lfg-input input-field col s3" style="margin-right:15px;">
										<input id="request_time" type="text" placeholder="Time" />
									</div>
									<div class="col s2" style="margin-top:3px;">
										<a on-click="hideDateSelection" style="cursor:pointer;"><i class="material-icons orange-text text-darken-3" style=" font-size:2.5rem !important;">undo</i></a>
									</div>
								</div>
							</div>

							<br />

							<!--Title-->
							<div class="row">
								<div class="col s12">
									<label class="grey-text text-darken-2" style="font-size:1rem; margin-right:5px;">Title</label>
									<label class="red-text error-message" style="font-size:1rem; display:none;">**This is required</label>
								</div>
								<div class="lfg-input input-field col s12">
									<input id="request_title" maxlength="100" type="text" placeholder="Title of your request" class="validate" value="{{request.title::input}}" />
								</div>
                                <span class="character-counter grey-text" style="float: right; font-size: 12px; height: 1px;">{{requestTitleCountMessage}}</span>
							</div>

							<br />

							<!--Description-->
							<div class="row">
								<div class="col s12">
									<label class="grey-text text-darken-2" style="font-size:1rem; margin-right:5px;">Details</label>
									<label class="red-text error-message" style="font-size:1rem; display:none;">**This is required</label>
								</div>
								<div class="lfg-input-details input-field col s12">
									<textarea id="request_description" maxlength="300" class="materialize-textarea validate" placeholder="Details of your request" value="{{request.description::input}}"></textarea>
								</div>
                                <span class="character-counter grey-text" style="float: right; font-size: 12px; height: 1px;">{{requestDescriptionCountMessage}}</span>
							</div>

							<br />

							<!--Players & Mics-->
							<div class="row">
								<div class="layout horizontal col s12">
									<div style="margin-right:50px;">
										<div><label class="grey-text text-darken-2" style="font-size:1rem;">Players</label></div>
                                        <div class="lfg-input input-field" style="width:60px; margin-left:-2px !important;">
                                            <input id="request_gamer_count" type="text" min="1" class="validate" value="{{request.gamercount::input}}" />
                                        </div>
									</div>
									<div class="layout vertical left">
										<div>
											<label class="grey-text text-darken-2" style="font-size:1rem;">Mic</label>
											<i style="font-size:1.0rem; margin-left:3px;" class="material-icons grey-text">headset_mic</i>
										</div>
										<div>
											<paper-toggle-button class="lfg-toggle-button" checked="{{request.mic::change}}" style="margin-top:15px;"></paper-toggle-button>
										</div>
									</div>
								</div>
							</div>

                            <paper-button id="request_create_button" raised on-click="saveRequest">
                                <!--<iron-icon icon="social:mood"></iron-icon>-->
                                Submit Request
                            </paper-button>
							<br /><br />
						</div>

						<div id="nr_success_message" class="center-align" style="display:none;">
							<h4 class="orange-text text-darken-2">Your Gaming Request was created!</h4>
							<h5 class="orange-text text-darken-2">Now go tell the world about it!</h5>
							<br /><br /><br />
							<div class="row">
								<div style="margin:0 auto;">
									<div style="display:inline-block; padding:0 5%;"><a id="post_fb" on-click="postToFacebook" class="orange-text text-darken-2" style="cursor:pointer;"><i class="fa fa-facebook-square fa-4x"></i></a></div>
									<div style="display:inline-block; padding:0 5%;"><a id="post_twitter" on-click="postToTwitter" class="orange-text text-darken-2" style="cursor:pointer;"><i class="fa fa-twitter fa-4x"></i></a></div>
									<!--<div style="display:inline-block; padding:0 5%;"><a href="#" class="orange-text text-darken-2"><i class="fa fa-google-plus fa-4x"></i></a></div>-->
								</div>
							</div>
						</div>
					</div>
            </paper-header-panel>
        </paper-drawer-panel>

		<div id="game_tag" class="modal">
			<div class="modal-content">
				<h5>Tag a video game to your request</h5>

				<div class="game-title-search" >
					<div class="lfg-input-search input-field col s12">
						<i class="material-icons prefix">search</i>
						<input style="margin-left:40px !important;" id="search_request_game" type="text" class="lfg-input-search validate" placeholder="The name of the game you want tagged to your request">
					</div>
				</div>
				<br />
				<div class="search-loading-container center center-align" style="display:none;">
					<div class="preloader-wrapper active">
						<div class="spinner-layer spinner-yellow-only">
							<div class="circle-clipper left">
								<div class="circle"></div>
							</div>
							<div class="gap-patch">
								<div class="circle"></div>
							</div>
							<div class="circle-clipper right">
								<div class="circle"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="game-title-results">
					<table id="search_results_table">
						<tbody>
							<!--<tr><td>Results show up here :}</td></tr>-->
						</tbody>
					</table>
				</div>
			</div>
		</div>
    </template>
</dom-module>

<script>
	(function (window) {
        var constructor = Polymer({

            is: 'new-request',

            /**
             * ...
             *
             * @attribute properties
             * @type object
             * @default
             */
            properties: {
                elementname: 'New Request Page',
                /**
                 * ...
                 *
                 * @attribute thingName
                 * @type string
                 * @default ''
                 */
            },

            authDataCallback: function (authData) {
                var cusElem = this;

                if (authData) {
                    //console.log("User " + authData.uid + " is logged in with " + authData.provider);
                } else {
                    //Check to make sure the user is logged out
                    cusElem.loggedIn = false;
                    cusElem.notifyPath('loggedIn', cusElem.loggedIn);

                    //navigate them to the sign-in page
                    document.querySelector('app-router').go('/login');
                }
            },

            addNeutralTag: function (node) {
            	$(node).addClass('tag-neutral');
            },

            convertDateToUtc: function (date) {
            	return window.lfg.utils.convertDateToUtc(date);
            },

            clearSystemTagClass: function (node) {
            	var system = node.dataset.system;

            	switch (system) {

            		case 'pc':
            			$(node).removeClass('pc-filter-tag');
            			this.addNeutralTag(node);
            			break;

            		case 'ps3':
            			$(node).removeClass('psn-filter-tag');
            			this.addNeutralTag(node);
            			break;

            		case 'ps4':
            			$(node).removeClass('psn-filter-tag');
            			this.addNeutralTag(node);
            			break;

            		case 'xbox360':
            			$(node).removeClass('xbox-filter-tag');
            			this.addNeutralTag(node);
            			break;

            		case 'xboxOne':
            			$(node).removeClass('xbox-filter-tag');
            			this.addNeutralTag(node);
            			break;

            		case 'wii':
            			$(node).removeClass('wii-filter-tag');
            			this.addNeutralTag(node);
            			break;

            		case 'wiiu':
            			$(node).removeClass('wii-filter-tag');
            			this.addNeutralTag(node);
            			break;
            	}
            },

            clearActiveTag: function (exceptionNode) {
            	$('.filter-tags').each(function () {
            		if ($(this).data('system') !== $(exceptionNode).data('system')) {
            			$(this).removeClass('filter-active');
            		}
            	});
            },

            clearNeutralTagClass: function (node) {
            	$(node).removeClass('tag-neutral');
            },

            doVideoGameSearch: function (e) {
            	var query = $(e.target).val();
            	var cusElem = this;

            	if (query.length >= 2) {

            		$('.game-title-results').hide();
            		$('.search-loading-container').show();

            		//perform giantbomb search
            		var url = window.lfg.config.getGiantBombUrl(window.lfg.config.apiEndPoints.search);
            		var limit = 10;

            		$.ajax({
            			url: url,
            			type: 'GET',
            			cache: false,
            			data: { search: query, limit: limit },
            			dataType: 'json',
            			success: function (data) {
            				var listHtml = '';
            				_.each(data.results, function (element, index) {
            					listHtml += '<tr class="search-result-row"><td >';
            					listHtml += '<div class="row" style="margin-bottom:0px;">';
            					listHtml += '<div class="col 3">';

            					if (
									element.image !== null && element.image !== undefined &&
									element.image.screen_url !== null &&
									element.image.screen_url !== undefined &&
									element.image.screen_url !== '') {
            					    listHtml += '<img class="search-image" style="border-radius: 5px !important;" src="' + element.image.screen_url + '" width="100" />';
            					}
            					else {
            						listHtml += '<div style="background-color:#FB8C00; width:100px; height:56px;"></div>';
            					}

            					listHtml += '</div>';
            					listHtml += '<div class="col 9" style="margin-top:18px;">';
            					listHtml += '<span class="game-title" style="font-size:1.15rem;">' + element.name + '</span>';
            					listHtml += '<input class="search-item-id" type="hidden" value="' + element.id + '" />';
            					listHtml += '</div>';
            					listHtml += '</div>';
            					listHtml += '</td></tr>';
            				});

            				$(cusElem.$.search_results_table).find('tbody').html(listHtml);
            				$('.search-loading-container').hide();
            				$('.game-title-results').show();

            			    //Now we have to make sure all the images are good
            				$(cusElem.$.search_results_table).find('img').each(function () {
            				    cusElem.resolveGbBrokenImage($(this).get(0));
            				});
            			},
            			error: function (err) {
            			}
            		});
            	}
            	else {
					//Replace with searching row
            	}
            },

            formatSystem: function (system) {
            	switch (system) {
            		case 'pc':
            			return 'PC';
            			break;

            		case 'ps3':
            			return 'PS3';
            			break;

            		case 'ps4':
            			return 'PS4';
            			break;

            		case 'xbox360':
            			return 'Xbox 360';
            			break;

            		case 'xboxOne':
            			return 'Xbox One';
            			break;

            		case 'wii':
            			return 'Wii';
            			break;

            		case 'wiiu':
            			return 'Wii U';
            			break;

            		case 'steam':
            			return 'Steam';
            			break;
            	}
            },

            getLookupData: function(){
                //Gets lookup data from Giant Bomb
                var config = window.lfg.config;
                $.get(config.appUrl)
            },

            goToList: function () {
            	document.querySelector('app-router').go('/');
            },

            hideDateSelection: function (e) {
            	var customElem = this;
            	$(customElem.$.time_fields).hide(0, function () {
            		$(customElem.$.time_options).show();
            		customElem.request.customDate = false;
            	});
            },

            isLoggedIn: function () {
            	return window.lfg.utils.isLoggedIn();
            },

            searchRowClick: function (e) {
            	
            	var cusElem = this;
            	$(this.$.selected_game).removeClass('invalid');
            	$(cusElem.$.selected_game_error).hide();

            	var element = e.target;
            	if (element.tagName.toLowerCase() !== 'tr') {
            		element = $(e.target).parents('tr').get(0);
            	}

            	//Get the url and the gametitle
            	cusElem.request.game = $(element).find('.game-title').html();
            	cusElem.request.gameid = $(element).find('.search-item-id').val();
            	var imageUrl = $(element).find('.search-image').attr('src');

            	if (imageUrl !== null && imageUrl !== undefined && imageUrl !== '') {
            		//cusElem.request.images.list_url = window.lfg.utils.convertToBase64(imageUrl);
            		cusElem.request.images.list_url = imageUrl;            		
            	}

				            	
				//Set the selected game and it's image
            	$(cusElem.$.selected_game).html(cusElem.request.game);
            	$(cusElem.$.selected_game).addClass('selected-game');
            	$('.game-image-placeholder').hide();

            	if (imageUrl !== null && imageUrl !== undefined && imageUrl !== '') {
            		$(cusElem.$.selected_game_image).get(0).src = imageUrl;
            		$(cusElem.selected_game_image_placeholder).hide();
            		$(cusElem.$.selected_game_image).show();

            	    //check to see if the image is ok
            		cusElem.resolveGbBrokenImage($(cusElem.$.selected_game_image).get(0));
            	}
            	else {
            		$(cusElem.$.selected_game_image_placeholder).html(cusElem.request.game);
            		$(cusElem.$.selected_game_image).hide();
            		$(cusElem.$.selected_game_image_placeholder).show();
            	}

            	//close modal
            	$(cusElem.$.game_tag).closeModal();
            },

            initializeData: function () {

                this.notSaved = true;

            	this.request = {
            		title: '',
            		game: '',
					gameid: '',
            		system: '',
            		date: '',
            		time: '',
            		gamercount: '1',
            		gamertag: '',
					description: '',
					mic: false,
					images: {
						list_url: '',
						profile_url: ''
					},
					customDate: false
            	};

            	this.systems = [
					{ name: 'PC', value: 'pc' },
					{ name: 'PS3', value: 'ps3' },
					{ name: 'PS4', value: 'ps4' },
					{ name: 'Xbox 360', value: 'xbox360' },
					{ name: 'Xbox One', value: 'xboxOne' },
					{ name: 'Wii', value: 'wii' },
					{ name: 'Wii U', value: 'wiiu' }
            	];

            	this.newRequest = {};
            	this.requestDescriptionLength = 300;
            	this.requestDescriptionCounter = 0;
            	this.requestDescriptionCountMessage = this.requestDescriptionCounter.toString() + '/' + this.requestDescriptionLength.toString();

            	this.requestTitleLength = 100;
            	this.requestTitleCounter = 0;
            	this.requestTitleCountMessage = this.requestTitleCounter.toString() + '/' + this.requestTitleLength.toString();

            	this.firebaseRef = new Firebase(window.lfg.config.getFirebaseUrl());
            },

            optionSelected: function (e) {
            	var node = $('new-request')[0];
            	var select = e.target;
            	var val = $(select).val();
            	node.__data__.request.system = val;  //This is the only way I know how to get properties declared on a Polymer custom element, 
            	//when accessed outside of Polymer's context. I suspect theres a beter way than using the "__data__" prop

            	//clear val errors
            	$('#request_system').parent().find('.select-dropdown').removeClass('invalid');
            },

            postToFacebook: function (e) {
                var cusElem = this;

                if (cusElem.newRequest !== null && this.newRequest !== undefined) {
            		var authJSON = sessionStorage.getItem(window.lfg.config.firebaseCacheKey);
            		var authData = JSON.parse(authJSON);

            		if (authData == null || authData == undefined) {
            			var localJSON = localStorage.getItem(window.lfg.config.firebaseCacheKey);
            			authData = JSON.parse(localJSON);
            		}

            		var message = 'Find gamers to play ' + cusElem.newRequest.gametitle + ' on ' + cusElem.formatSystem(cusElem.newRequest.system) + ' with Parallel';

            		if (authData !== null && authData !== undefined && authData.uid === cusElem.request.uid) {
            		    message = 'I created a gaming request for ' + cusElem.newRequest.gametitle + ' on ' + cusElem.formatSystem(cusElem.newRequest.system) + ' with Parallel';
            		}

            		var options = {
            		    entityId: cusElem.newRequest.id,
            			entityType: 'request',
            			gametitle: cusElem.newRequest.gametitle,
            			system: cusElem.formatSystem(cusElem.newRequest.system),
            			description: message,
            			photo: cusElem.newRequest.images.list_url
            		};

            		window.lfg.utils.postToFacebook(options);
            	}
            },

            postToTwitter: function (e) {
                var cusElem = this;

                if (cusElem.newRequest !== null && cusElem.newRequest !== undefined) {
            		var authJSON = sessionStorage.getItem(window.lfg.config.firebaseCacheKey);
            		var authData = JSON.parse(authJSON);

            		if (authData == null || authData == undefined) {
            			var localJSON = localStorage.getItem(window.lfg.config.firebaseCacheKey);
            			authData = JSON.parse(localJSON);
            		}

            		var message = 'Check out this gaming request to play ' + cusElem.newRequest.gametitle + ' for ' + cusElem.formatSystem(cusElem.newRequest.system) + ' on the Parallel app';

            		if (authData !== null && authData !== undefined && authData.uid === cusElem.newRequest.uid) {
            		    message = 'I created a gaming request to play ' + cusElem.newRequest.gametitle + ' on ' + cusElem.formatSystem(cusElem.newRequest.system) + ' with the Parallel app. Check it out';
            		}

            		var encodedMessage = encodeURIComponent(message);

            		var options = {
            		    entityId: cusElem.newRequest.id,
            			entityType: 'request',
            			message: encodedMessage
            		};

            		window.lfg.utils.tweetOnTwitter(options);
            	}
            },
			
            registerPlugins: function () {

            	$('.modal-trigger').leanModal();

            	$(this.$.request_date).pickadate({
            		selectMonths: true,
					selectYears: 15
            	});

            	$(this.$.request_time).timeEntry({
            		spinnerImage: ''
            	});

            	$(this.$.request_details_container).collapsible();

            	$(this.$.request_description).characterCounter();

            	$(this.$.request_game).autocomplete({
            		source: function (request, response) {
            			var url = window.lfg.config.getGiantBombUrl(window.lfg.config.apiEndPoints.search);

            			$.ajax({
            				url: url,
            				type: 'GET',
            				cache: false,
            				data: { search: request.term },
            				dataType: 'json',
            				success: function (data) {
            					response($.map(data.results, function (item) {
            						return {
            							label: item.name,
										value: item.id
            						}
            					}));
            				},
            				error: function (err) {
            				}
            			});
            		},
            		minLength: 1,
            		select: function (event, ui) {
            			event.preventDefault();
            			$('#' + this.id).val(ui.item.label);
            			$('#request_game_id').val(ui.item.value);

            			var node = $('new-request')[0];
            			node.__data__.request.game = ui.item.label;  //This is the only way I know how to get properties declared on a Polymer custom element, when accessed outside of Polymer's context. I suspect theres a beter way than using the "__data__" prop
            			node.__data__.request.gameid = ui.item.value;
            		},
            		messages: {
            			noResults: 'Could not find game title',
            			results: function () { }
            		},
            		open: function () {
            			$('.ui-autocomplete').width($(this).width()); //this is the input field
            		}
            	});
            },

            registerEvents: function () {
                var customElem = this;

                $(document).on('keypress', '#request_gamer_count', customElem.verifyDigitOnly.bind(customElem));
                $(document).on('input', '#search_request_game', _.debounce(customElem.doVideoGameSearch.bind(customElem), 1000));
                $(document).on('click', '.search-result-row', customElem.searchRowClick.bind(customElem));
                $(document).on('click', '#search_row', customElem.showSearchModal.bind(customElem));
                $(document).on('click', '#time_future_date', customElem.showDateSelection.bind(customElem));
                $('.filter-tags').click(customElem.selectConsole.bind(customElem));

                $(document).on('input', '#request_description', function () {
                    customElem.requestDescriptionCounter = $(this).val().length;
                    customElem.requestDescriptionCountMessage = customElem.requestDescriptionCounter.toString() + '/' + customElem.requestDescriptionLength.toString();
                });

                $(document).on('input', '#request_title', function () {
                    customElem.requestTitleCounter = $(this).val().length;
                    customElem.requestTitleCountMessage = customElem.requestTitleCounter.toString() + '/' + customElem.requestTitleLength.toString();
                });

                //clear all auth callbacks
                window.lfg.config.detachAllAuthCallbacks();

                var ref = new Firebase(window.lfg.config.getFirebaseUrl());
                var authCallbackFunc = this.authDataCallback.bind(this);
                window.lfg.config.firebaseAuthCallbacks.push(authCallbackFunc);
                ref.onAuth(authCallbackFunc);
            },

            registerDropListPlugin: function () {
            	//TODO: Add Options manually or Use "browser-default" class of materialselect (lame) | <DONE>
				var list = ''
				_.each(this.systems, function (system) {
					list += '<option value="' + system.value + '">' + system.name + '</option>'
				});
				$(this.$.request_system).append(list);


				$(this.$.request_system).material_select();
				$(this.$.request_city).material_select();
				$(this.$.request_state).material_select();
            },

            resolveGbBrokenImage: function (imgElem) {
                //Giantbomb Hack - switch the url from whatever it is to .png or .jpg. (Most of the onerror solutions just wouldnt work)
                var http = jQuery.ajax({
                    type: "HEAD",
                    url: imgElem.src,
                    success: function (data, textStatus, xhr) {
                        if (xhr.status == 404) {
                            var ext = imgElem.src.substring(((imgElem.src.length - 1) - 3));
                            switch (ext.toLowerCase()) {
                                case '.png':
                                    var oldExt = imgElem.src.substring(((imgElem.src.length - 1) - 3));
                                    imgElem.src = imgElem.src.replace(oldExt, '.jpg');
                                    break;

                                case '.jpg':
                                    var oldExt = imgElem.src.substring(((imgElem.src.length - 1) - 3));
                                    imgElem.src = imgElem.src.replace(oldExt, '.png');
                                    break;
                            }
                        }
                    },
                    error: function (error) {
                        if (error.status == 404) {
                            var ext = imgElem.src.substring(((imgElem.src.length - 1) - 3));
                            switch (ext.toLowerCase()) {
                                case '.png':
                                    var oldExt = imgElem.src.substring(((imgElem.src.length - 1) - 3));
                                    imgElem.src = imgElem.src.replace(oldExt, '.jpg');
                                    break;

                                case '.jpg':
                                    var oldExt = imgElem.src.substring(((imgElem.src.length - 1) - 3));
                                    imgElem.src = imgElem.src.replace(oldExt, '.png');
                                    break;
                            }
                        }
                    }
                });
            },

            selectConsole: function (e) {
            	var cusElem = this;
            	var system = e.target.dataset.system;

            	$('.filter-tags').each(function () {
            		cusElem.clearSystemTagClass($(this).get(0));
            	});

            	switch (system) {

            		case 'pc':
            			if (!$(e.target).hasClass('filter-active')) {
            				cusElem.clearActiveTag(e.target);
            				cusElem.clearNeutralTagClass(e.target);
            				$(e.target).addClass('pc-filter-tag');
            				$(e.target).addClass('filter-active');
            				
            				this.request.system = 'pc';
            			}
            			else {
            				$(e.target).removeClass('filter-active');
            				this.request.system = 'none';
            			}
            			break;

            		case 'ps3':
            			if (!$(e.target).hasClass('filter-active')) {
            				cusElem.clearActiveTag(e.target);
            				cusElem.clearNeutralTagClass(e.target);
            				$(e.target).addClass('psn-filter-tag');
            				$(e.target).addClass('filter-active');
            				this.request.system = 'ps3';
            			}
            			else {
            				$(e.target).removeClass('filter-active');
            				this.request.system = 'none';
            			}
            			break;

            		case 'ps4':
            			if (!$(e.target).hasClass('filter-active')) {
            				cusElem.clearActiveTag(e.target);
            				cusElem.clearNeutralTagClass(e.target);
            				$(e.target).addClass('psn-filter-tag');
            				$(e.target).addClass('filter-active');
            				this.request.system = 'ps4';
            			}
            			else {
            				$(e.target).removeClass('filter-active');
            				this.request.system = 'none';
            			}
            			break;

            		case 'xbox360':
            			if (!$(e.target).hasClass('filter-active')) {
            				cusElem.clearActiveTag(e.target);
            				cusElem.clearNeutralTagClass(e.target);
            				$(e.target).addClass('xbox-filter-tag');
            				$(e.target).addClass('filter-active');
            				this.request.system = 'xbox360';
            			}
            			else {
            				$(e.target).removeClass('filter-active');
            				this.request.system = 'none';
            			}
            			break;

            		case 'xboxOne':
            			if (!$(e.target).hasClass('filter-active')) {
            				cusElem.clearActiveTag(e.target);
            				cusElem.clearNeutralTagClass(e.target);
            				$(e.target).addClass('xbox-filter-tag');
            				$(e.target).addClass('filter-active');
            				this.request.system = 'xboxOne';
            			}
            			else {
            				$(e.target).removeClass('filter-active');
            				this.request.system = 'none';
            			}
            			break;

            		case 'wii':
            			if (!$(e.target).hasClass('filter-active')) {
            				cusElem.clearActiveTag(e.target);
            				cusElem.clearNeutralTagClass(e.target);
            				$(e.target).addClass('wii-filter-tag');
            				$(e.target).addClass('filter-active');
            				this.request.system = 'wii';
            			}
            			else {
            				$(e.target).removeClass('filter-active');
            				this.request.system = 'none';
            			}
            			break;

            		case 'wiiu':
            			if (!$(e.target).hasClass('filter-active')) {
            				cusElem.clearActiveTag(e.target);
            				cusElem.clearNeutralTagClass(e.target);
            				$(e.target).addClass('wii-filter-tag');
            				$(e.target).addClass('filter-active');
            				this.request.system = 'wiiu';
            			}
            			else {
            				$(e.target).removeClass('filter-active');
            				this.request.system = 'none';
            			}
            			break;
            	}
            },

            showSuccessMessage: function () {
                //cusElem.notSaved = false;
                //cusElem.notifyPath('notSaved', cusElem.notSaved);

                $('.not-saved').hide();
                $('#new_request_form').hide(0, function () {
                    $('#nr_success_message').show();
                });
            },

            showSearchModal: function (event) {
            	$(this.$.game_tag).openModal();
            	this.$.search_request_game.focus();
            },

            saveRequest: function () {
            	//get the values of plugin-affected inputs
            	var time_date = $(this.$.request_time).timeEntry('getTime');
            	this.request.date = this.request.customDate ? $(this.$.request_date).pickadate('picker').get('select', 'mm/dd/yyyy') : null;
            	this.request.time = time_date !== null && time_date !== undefined && time_date !== '' && this.request.customDate ? time_date : null;

            	var authJSON = sessionStorage.getItem(window.lfg.config.firebaseCacheKey);
            	var authData = JSON.parse(authJSON);

            	if (authData == null || authData == undefined) {
            		var localJSON = localStorage.getItem(window.lfg.config.firebaseCacheKey);
            		authData = JSON.parse(localJSON);
            	}

                //Hack - sometimes the system is empty
            	this.request.system = $('.filter-tags.filter-active').data('system');

            	if (this.validateGameRequest(this.request) !== false && authData !== null && authData !== undefined) {

					//If the date or time is null, do this
            		if (this.request.time == null || this.request.time) {
            			this.request.time = Date.now();
            		}

            		var request_date = this.request.date == null || this.request.date == undefined || this.request.date == '' ? Date.now() : Date.parse(this.request.date);

            		this.request.time.setFullYear(request_date.getFullYear());
            		this.request.time.setMonth(request_date.getMonth(), request_date.getDate());
            		this.request.time.setDate(request_date.getDate());

            		var gamedate = window.lfg.utils.convertDateToISO(this.request.time);
            		var created = window.lfg.utils.convertDateToISO(Date.now());

            		var requestsRef = this.firebaseRef.child('requests');
            		var newRequest = {
            		    title: this.request.title,
            		    game: unescape(this.request.game.toLowerCase()).replace( /\&amp;/g, '&' ),
            		    gametitle: unescape(this.request.game).replace(/\&amp;/g, '&'),
            			giantbombid: this.request.gameid,
            			gamercount: this.request.gamercount === null || this.request.gamercount === undefined || this.request.gamercount === '' ? '1' : this.request.gamercount,
            			system: this.request.system,
            			datetime: gamedate,
            			mic: this.request.mic,
            			description: this.request.description,
            			created: created,
            			uid: authData.uid,
            			images: this.request.images
            		}

					//Firebase Search Indexes
            	    //custom index for searching & ordering requests in lexicographical/chronologic order -  really just a hack
            		var timeNow = 0 - Date.now();
            		var index = timeNow;
            		var lexicoIndex = window.lfg.utils.getSearchIndex(timeNow);

            		newRequest.index = index;   //getPriority is unreliable - use our own index
            		newRequest.gameindex = window.lfg.utils.clearWhiteSpace(newRequest.game) + lexicoIndex;
            		newRequest.giantbombindex = newRequest.giantbombid + lexicoIndex;
            		newRequest.systemindex = newRequest.system + lexicoIndex;
            		newRequest.systemgameindex = newRequest.system + newRequest.gameindex;
            		newRequest.usergameindex = authData.uid + newRequest.gameindex;
            		newRequest.usersystemgameindex = authData.uid + newRequest.systemgameindex;
            		newRequest.usersystemindex = authData.uid + newRequest.systemindex;
            		newRequest.usergiantbombindex = authData.uid + newRequest.giantbombindex;
            		newRequest.userindex = authData.uid + lexicoIndex;

            		//Save new request content;
            		var newRequestRef = requestsRef.push();

            		newRequestRef.setWithPriority(newRequest, (0 - Date.now()));	//Set the priority so that this comes first 
            		var requestid = newRequestRef.key();

            		if (requestid !== null && requestid !== undefined) {
            		    newRequest.id = requestid;
            			this.newRequest = newRequest;
            			this.showSuccessMessage();
            		}
            	}
            },

            showDateSelection: function () {
            	var customElem = this;
            	customElem.request.customDate = true;
            	$(customElem.$.time_options).hide(0, function () {
            		$(customElem.$.time_fields).show();
            	});
            },

            validateGameRequest: function (request) {
            	$('.error-message').hide();
            	var valid = true;
            	var cusElem = this;

            	if (request.gameid == null || request.gameid == undefined || request.gameid == '') {
            		$(cusElem.$.selected_game).parents('#search_row').find('.error-message').show();
            		valid = false;
            	}

            	if (request.title === null || request.title === undefined || request.title === '') {
            		$(cusElem.$.request_title).parent().parent().find('.error-message').show();
            		valid = false;
            	}

            	if (request.game === null || request.game === undefined || request.game === '') {
            	    $('.select-game-row').find('.error-message').show();
            		valid = false;
            	}

            	//if (request.gamercount !== null && request.gamercount !== undefined && request.gamercount !== '') {
            	//	if (!$.isNumeric(request.gamercount)) {
            	//		$(this.$.request_gamer_count).addClass('invalid');
            	//		valid = false;
            	//	}
            	//}

            	//if (request.system === null || request.system === undefined || request.system === '') {
            	//	$(this.$.request_system).parent().find('.select-dropdown').addClass('invalid');
            	//	valid = false;
            	//}

            	var systemSelected = false;
            	$('.filter-tags').each(function () {
            		if ($(this).hasClass('filter-active')) {
            			systemSelected = true;
            		}
            	});

            	if (systemSelected === false) {
            		$(cusElem.$.system_row).find('.error-message').show();
            	}

            	if (request.customDate) {
            		if (request.date === null || request.date === undefined || request.date === '') {
            			$(cusElem.$.time_row).find('.error-message').show();
            			valid = false;
            		}

            		if (request.time === null || request.time === undefined || request.time === '') {
            			$(cusElem.$.time_row).find('.error-message').show();
            			valid = false;
            		}
            	}

            	return valid;
            },

            verifyDigitOnly: function (e) {
            	//if the letter is not digit then display error and don't type anything
            	if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
            		return false;
            	}
            	return true;
            },

            created: function () {
				//Part of Polymer lifecycle
            },

            ready: function () {
                this.initializeData();
            },

            attached: function () {
				//called after ready();
            	this.registerPlugins();
            	this.registerDropListPlugin();
            	this.registerEvents();
            }
        });
    })(window);
</script>

<script>
 (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

 ga('create', 'UA-66975307-1', 'auto');
 ga('send', 'pageview');

</script>