<link rel="import" href="../components/bower_components/polymer/polymer.html">
<!--<link rel="import" href="../imports/layout.html">-->

<!-- Fonts -->
<link rel='import' href='../components/bower_components/font-roboto/roboto.html'>

<link rel="import" href="../components/bower_components/neon-animation/neon-animated-pages.html">
<link rel="import" href="../components/bower_components/neon-animation/neon-animatable.html">
<link rel="import" href="../components/bower_components/neon-animation/neon-animations.html">


<dom-module id="user-setup">
	<!-- CSS -->
	<link rel="import" type="css" href='../assets/app/css/lfg.css'>

	<style>
        body {
        }

		:host {
			background-color: #FB8C00 !important;
		}

		.profile-background {
			background-color: transparent;
			background:url('../assets/app/img/1662530.jpg');
			background-size:cover;
			border-bottom:solid 1px #ffee58;
		}

		.profile-overlay{  
			background:rgba(0,0,0,.5);
            text-align:center;
            padding:45px 0 0 0;
            opacity:0;
            -webkit-transition: opacity .25s ease;
			-moz-transition: opacity .25s ease;
			 opacity:1;
			 height: 100%;
			 width: 100%;
		}

		.content-area{
			/*margin-top:3%;*/
			padding:0 20px 0 20px;
            width:100%;
            max-width:600px;
        }

		#done-button.btn:hover, #done-button.btn-large:hover {
			background-color: #1b5e20;
		}

		.sign-in-flaticon-update {
			font-size: 50px !important;
			color: #ffffff;
			margin-top: -15px;
		}

		.regular-text {
			text-transform: none;
		}

		.sign-in-button {
			width: 300px;
		}

		.input-field {
			margin-top:0 !important;
			height:55px !important;
		}

        .lfg-input{
			color: #ffff00 !important;
			border:solid 2px #ffffff; 
			border-radius:5px;
            /*color: #ffeb3b !important;*/
        }

		
        /* label color */
        .lfg-input.input-field label {
            color: #ffffff;
        }

        .lfg-input.input-field input[type=text]{
            border-bottom: none;
            box-shadow: none;
			margin:3px 10px 0 10px !important;
            font-size: 1.25rem;
        }

        /* label focus color */
        .lfg-input.input-field input[type=text]:focus + label {
            color: #ffff00;
        }

        /* label underline focus color */
        .lfg-input.input-field input[type=text]:focus {
            border-bottom: none;
            box-shadow:none;
        }

        /* valid color */
        .lfg-input.input-field input[type=text].valid {
            border-bottom: none;
            box-shadow:none;
        }


        /* invalid color */
        .lfg-input.input-field input[type=text].invalid {
            border-bottom: 1px solid #f44336 !important;
            box-shadow: 0 1px 0 0 #f44336 !important;
        }

        /* Icon prefix */
        .lfg-input.input-field .prefix {
            color: #ffffff;
        }

        /* icon prefix focus color */
        .lfg-input.input-field .prefix.active {
            color: #ffff00;
        }

		.requests-card-panel{
            width: 100%;
            box-shadow: 0 2px 5px 0 #e65100;
            border-radius:0px;
            padding:0px;
			margin-top:20px;
        }

		.collection-modified li {
			padding-left: 20px !important;
		}

		.collection-modified li i {
			font-size:3rem;
			color:#e65100;
			margin-top: 15px;
		}

		.wizard-header {
			text-shadow: 0px 2px 2px #8c9eff;
		}

		.wizard-input.row {
			margin-bottom: 0 !important;
			margin-top: 0 !important;
			line-height: 1;
		}

		.photo-upload {
			font-size:1rem;
		}

		.photo-upload material-icons:hover {
			color: #ffff00 !important;
		}

	</style>

	<template>
        <div id="new_acct_form" class="orange darken-1 fit" style="display:none; overflow-y:auto; padding-bottom:20px;">
            <div id="profile_background" class="layout vertical center orange darken-1" >
                <div class="layout horizontal center-justified" style="margin-top:70px;">
                    <div class="flex"></div>
                    <div class="col s6 center self-center">
                        <div>
                            <img src="../assets/app/img/logo-orange-60-60-light.png" />
                            <h6 class="white-text" style="font-size:12px; margin-top:3px;">parallel <span style="font-weight:600;">BETA</span></h6>
                        </div>
                        <br />
                        <h5 class="white-text" style="font-size:1.5rem;">Sweet! You're almost there...</h5>
                        <h6 class="white-text" style="font-size:0.85rem;">Enter your Username & Email, and upload a profile picture</h6>
                    </div>
                    <div class="flex"></div>
                </div>
            </div>
            <div class="container content-area">
                <br />
                <div class="row" style="margin-bottom:0;">
                    <div class="col s12 center center-aligned">
                        <img id="profile_pic" src="../assets/app/img/profile-photo-placeholder.jpg" alt="" class="circle responsive-img" style="border:solid 2px #ffffff; height:75px; width:75px;">
                    </div>
                    <div class="col s12 center" style="margin-top:-10px;">
                        <h4 id="username_label" class="light white-text" style="font-size:1.35rem;">{{user.username}}</h4>
                    </div>

                    <div class="row">
                        <div class="col s12">
                            <div class="layout horizontal center-center file-field">
                                <a class="btn-flat center center-aligned yellow-text text-accent-2 light photo-upload">
                                    <span><i class="material-icons left">backup</i> Change Photo</span>
                                    <input id="profile_upload" type="file" accept="image/*" capture="camera" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-left:0; margin-right:0;">
                    <div class="col s12" style="margin-bottom:10px;">
                        <label class="white-text" style="font-size:1rem; margin-right:5px;">
                            <i class="fa fa-user" style="margin-right:6px;"></i>
                            Username
                        </label>
                        <span id="username_error" class="yellow-text text-accent-2"><strong></strong></span>
                    </div>
                    <div class="lfg-input input-field col s12">
                        <input id="username" type="text" spellcheck="false" autocomplete="off" class="validate" on-keypress="clearUsernameError" on-keyup="changeUsername" />
                    </div>
                </div>
                <div class="row" style="margin-left:0; margin-right:0;">
                    <div class="col s12" style="margin-bottom:10px;">
                        <label class="white-text" style="font-size:1rem; margin-right:5px;">
                            <i class="fa fa-envelope" style="margin-right:6px;"></i>
                            Email
                        </label>
                        <span id="email_error" class="yellow-text text-accent-2"><strong></strong></span>
                    </div>
                    <div class="lfg-input input-field col s12">
                        <input id="email" type="text" spellcheck="false" autocomplete="off" class="validate" value="{{user.email}}" on-keypress="clearEmailError" />
                    </div>
                </div>
                <br />
                <a class="waves-effect waves-green orange darken-4 btn-large white-text" on-click="finishSetUp" style="width:100%;"><i class="material-icons left">done</i>I'm Done! What's Next?</a>
            </div>
        </div>

        <div id="first_time_overlay" class="layout fit vertical center orange darken-1" style="position:absolute; width:100%; z-index:1000;">
            <div class="layout vertical" style="max-width:1000px; margin-top:100px;">
                <div>
                    <img src="../assets/app/img/logo-orange-60-60-light.png" />
                    <h6 class="white-text" style="font-size:12px; margin-top:3px;">parallel <span style="font-weight:600;">BETA</span></h6>
                </div>
                <br />
                <h5 class="white-text text-darken-2 light" style="font-size:1.5rem;">{{providerText}}</h5>
                <h6 class="white-text text-darken-2" style="font-size:1.5rem;">Is this your first time using Parallel?</h6>
            </div>

            <div class="layout vertical" style="max-width:1000px; margin-top:30px;">
                <a class="waves-effect waves-light btn-large green darken-2" on-click="hideOverlay"><i class="material-icons right">arrow_forward</i>Yes, I need to create an account</a>
                <br /><br />
                <a class="waves-effect waves-light btn-large red" on-click="goBackToSignin"><i class="material-icons left">arrow_back</i>No, let me try signing in again</a>
            </div>
        </div>

        <div id="setup_success" class="layout fit vertical center orange darken-1" style="position:absolute; width:100%; z-index:1000; display:none;">
            <div class="layout vertical container" style="margin-top:100px;">
                <div>
                    <img src="../assets/app/img/logo-orange-60-60-light.png" />
                    <h6 class="white-text" style="font-size:12px; margin-top:3px;">parallel <span style="font-weight:600;">BETA</span></h6>
                </div>
                <br />
                <h4 class="white-text layout horizontal center-center">
                    <i class="material-icons white-text" style="margin-right:10px; font-size:2.3rem;">check_circle</i> 
                    Setup Done!</h4>
                <h5 class="white-text text-darken-2" style="font-size:1.5rem;">Your account has been created!</h5>
                <h6 class="white-text text-darken-2 thin" style="font-size:1.15rem;">We sent an email to <span class="yellow-text text-accent-2" style="font-weight:500;">{{user.email}}</span> with a link to verify your account. You'll be redirected to the requests page momentarily...</h6>
            </div>
            <br />
            <div class="layout vertical" style="max-width:1000px; margin-top:30px;">
                <a href="#/requests" class="waves-effect waves-light btn-large green darken-2"><i class="material-icons right">arrow_forward</i>Take me there now!</a>
            </div>
        </div>
	</template>
</dom-module>

<script>
    (function(window) {
        var constructor = Polymer({

        	is: 'user-setup',

            /**
             * ...
             *
             * @attribute properties
             * @type object
             * @default
             */
            properties: {
            	name: 'User Setup'
            },

            clearValidatorErrors: function () {
            	this.clearUsernameError();
            	this.clearEmailError();
            },

            clearUsernameError: function () {
            	$(this.$.username_error).find('strong').html('');
            },

            clearEmailError: function () {
            	$(this.$.email_error).find('strong').html('');
            },

        	/* Functions */
            finishSetUp: function () {
            	//Do some validation...
            	var cusElem = this;
            	if (cusElem.validateInput(cusElem.user)) {
            		cusElem.user.username = $(cusElem.$.username).val().trim();
            		cusElem.user.email = $(cusElem.$.email).val().trim();

            	    //scrub for xss
            		cusElem.user.username = filterXSS(cusElem.user.username);
            		cusElem.user.email = filterXSS(cusElem.user.email);

            		cusElem.usernameExists = null;
            		cusElem.emailExists = null;

            		var authJSON = sessionStorage.getItem(window.lfg.config.firebaseCacheKey);
            		var authData = JSON.parse(authJSON);

            		//check to see if the same username exists within our db, or the same email exists
            		var usersRef = this.firebaseRef.child('users');

            		var checkUnique = function () {
            			if (cusElem.usernameExists !== null && cusElem.emailExists !== null) {
            				window.clearInterval(cusElem.intervalId);
            				if (cusElem.usernameExists === false && cusElem.emailExists === false) {
            					cusElem.saveUserData(authData, cusElem.user);
            				}
            				else {
            					if (cusElem.usernameExists === true) {
            						$(cusElem.$.username_error).find('strong').html('*The username exists already!');
            					}

            					if (cusElem.emailExists === true) {
            						$(cusElem.$.email_error).find('strong').html('*The email exists already!');
            					}
            				}
            			}
            		};

            		cusElem.intervalId = window.setInterval(checkUnique, 500);

            		//Get the user profile info. If none exists, redirect to Onboarding process...
            	    usersRef
                        .orderByChild('username')
						.equalTo(cusElem.user.username)
						.once('value', function (snapshot) {
							var user = snapshot.val();

							//redirect to user setup page
							if (user !== null && user !== undefined) {
								cusElem.usernameExists = true;
							}
							else {
								cusElem.usernameExists = false;
							}
						});

            	    usersRef
                        .orderByChild('email')
						.equalTo(this.user.email)
						.once('value', function (snapshot) {
							var user = snapshot.val();

							//redirect to user setup page
							if (user !== null && user !== undefined) {
								cusElem.emailExists = true;
							}
							else {
								cusElem.emailExists = false;
							}
						});
            	}
            },

            getFileAsDataUrl: function (f) {
                cusElem = this;
                var reader = new FileReader();

                reader.onload = (function (theFile) {
                    return function (e) {
                        var filePayload = e.target.result;

                        if (cusElem.isImageToBig(filePayload)) {
                            alert('The image you uploaded is too big. The max dimensions for your profile image are ' + cusElem.maxImageHeight + 'px x ' + cusElem.maxImageWidth + 'px');
                            return;
                        }

                        cusElem.user.profilepic = filePayload;
                        document.getElementById("profile_pic").src = filePayload;
                        cusElem.profileBlob = null;
                    };
                })(f);
                reader.readAsDataURL(f);
            },

            getProvider: function () {
                var authData = window.lfg.utils.getAuthData();

                if (authData !== null && authData !== undefined) {
                    switch (authData.provider) {
                        case 'facebook':
                            this.provider = 'Facebook';
                            break;

                        case 'twitter':
                            this.provider = 'Twitter';
                            break;

                        case 'google':
                            this.provider = 'Google';
                            break;

                        case 'steam':
                            this.provider = 'Steam';
                            break;

                        default:
                            break;
                    }
                }

                if (this.provider == null || this.provider == undefined || this.provider == '') {
                    this.providerText = 'Thanks for signing in. We just need a couple of things...';
                }
                else {
                    this.providerText = 'Thanks for signing in through ' + this.provider + '. We just need a couple of things...';
                }
            },

            goBackToSignin: function(){
                var authData = window.lfg.utils.getAuthData();
                var signinAttempts = sessionStorage.getItem('signinAttempts');

                if (signinAttempts !== null && signinAttempts !== undefined) {
                    signinAttempts = JSON.parse(signinAttempts);
                }
                else {
                    signinAttempts = [];
                }

                var attemptExist = _.findWhere(signinAttempts, { name: authData.provider });

                if (attemptExist == null || attemptExist == undefined) {
                    signinAttempts.push({ name: authData.provider });
                }

                sessionStorage.setItem('signinAttempts', JSON.stringify(signinAttempts));

                //go back to sign in
                document.querySelector('app-router').go('/login');
            },

            hideOverlay: function () {
                var cusElem = this;
                $(cusElem.$.first_time_overlay).hide();
                $(cusElem.$.new_acct_form).show();
            },

            prepopulateData: function () {
                var cusElem = this;
                var authData = window.lfg.utils.getAuthData();

                if (authData !== null && authData !== undefined) {
                    switch (authData.provider) {
                        case 'facebook':
                            var facebook = authData.facebook;
                            cusElem.user.username = facebook.displayName;
                            cusElem.user.profilepic = facebook.profileImageURL;
                            cusElem.notifyPath('user', cusElem.user);

                            //Update DOM
                            $(cusElem.$.username).val(facebook.displayName);
                            $(cusElem.$.profile_pic).attr('src', facebook.profileImageURL);
                            $(cusElem.$.username_label).html(facebook.displayName);
                            break;

                        case 'twitter':
                            var twitter = authData.twitter;
                            cusElem.user.username = twitter.username;
                            cusElem.user.profilepic = twitter.profileImageURL;
                            cusElem.notifyPath('user', cusElem.user);

                            //Update DOM
                            $(cusElem.$.username).val(twitter.username);
                            $(cusElem.$.profile_pic).attr('src', twitter.profileImageURL);
                            $(cusElem.$.username_label).html(twitter.username);
                            break;

                        case 'google':
                            var google = authData.google;
                            cusElem.user.username = google.displayName;
                            cusElem.user.profilepic = google.profileImageURL;
                            cusElem.notifyPath('user', cusElem.user);

                            //Update DOM
                            $(cusElem.$.username).val(google.displayName);
                            $(cusElem.$.profile_pic).attr('src', google.profileImageURL);
                            $(cusElem.$.username_label).html(google.displayName);
                            break;

                        case 'steam':
                            var steam = authData.steam;
                            cusElem.user.username = steam.personaname;
                            cusElem.user.profilepic = steam.avatarfull;
                            cusElem.notifyPath('user', cusElem.user);

                            //Update DOM
                            $(cusElem.$.username).val(steam.personaname);
                            $(cusElem.$.profile_pic).attr('src', steam.avatarfull);
                            $(cusElem.$.username_label).html(steam.personaname);
                            break;

                        default:
                            break;
                    }
                }
            },

            saveUserData: function (authData, userdata) {
                var cusElem = this;
                var userRef = new Firebase(window.lfg.config.getFirebaseUrl() + 'users/' + authData.uid);
                userdata.setupcomplete = true;
                userdata.usernamelowercase = userdata.username.toLowerCase().trim();;

                userRef.set(userdata, function (error) {
                    if (error) {
                        console.log('Synchronization failed');
                    } else {
                        var userid = userRef.key();
                        cusElem.notifyPath('user.email', cusElem.user.email);

                        if (userid !== null && userid !== undefined) {
                            $(cusElem.$.setup_success).fadeIn();
                            cusElem.verifyEmail();
                            setTimeout(function () { document.querySelector('app-router').go('/requests'); }, 5000);
                        }
                        else {
                            //Show error message
                        }
                    }
                });
            },

            validateInput: function () {
            	var valid = true;
            	this.clearValidatorErrors();

            	var username = $(this.$.username).val();
            	var email = $(this.$.email).val();

            	if (username === null || username === undefined || username === '' ) {
            		$(this.$.username_error).find('strong').html("**This can't be blank!");
            		valid = false;
            	}

            	if (email === null || email === undefined || email === '') {
            		$(this.$.email_error).find('strong').html("**This can't be blank!");
            		valid = false;
            	}
            	else if (!window.lfg.utils.checkEmail(email)) {
            		$(this.$.email_error).find('strong').html("**This email isn't valid!");
            		valid = false;
            	}

            	return valid;
            },

            verifyEmail: function () {
                window.lfg.utils.sendVerificationEmail();
            },

			/* Init */
            initializeData: function () {
				this.selected = 0;
            	this.user = {
            		username: "(What we'll call you)",
            		email: ''
            	};
            	this.usernameExists = null;
            	this.emailExists = null;
            	this.provider = '';

            	this.firebaseUrl = window.lfg.config.getFirebaseUrl();
            	this.firebaseRef = new Firebase(window.lfg.config.getFirebaseUrl());

            	this.maxImageWidth = 300;
            	this.maxImageHeight = 300;

            	this.loadingMessage = 'Creating your account';
            	this.getProvider();

            	this.prepopulateData();
            },

            registerEvents: function () {
            	document.getElementById("profile_upload").addEventListener('change', this.handleFileSelect.bind(this), false);
            	//document.getElementById("cover_upload").addEventListener('change', this.handleCoverFileSelect.bind(this), false);
            	$(this.$.username).focus();
            },

            registerPlugins: function() {
            },

        	/* Events */
            changeUsername: function (e) {
            	//Despite how awesome Polymer 1.0 is, sometimes, you find some really annoying bugs in it - not complaining though
				//It's not "data-binding" if I have to "manually" set the property to persist it's value. This should be automatic!!!!!!!
            	var input = e.target;
            	this.set('user.username', input.value);
            },

            handleFileSelect: function (evt) {
                //A whole lot of hackery from this point on :P
                var cusElem = this;
                var file = event.target.files[0];
                cusElem.profileBlob = file;

                if (file.size >= 1 * 1024 * 1024) {
                    alert("The maximum image size allowed is 1 MB");
                    return;
                }

                var fileReader = new FileReader();

                fileReader.onload = cusElem.verifyImageFromFileReader.bind(this);
                fileReader.readAsArrayBuffer(file);
            },

            handleCoverFileSelect: function (evt) {
                //var cusElem = this;
                //var f = evt.target.files[0];

                //var reader = new FileReader();
                //reader.onloadend = (function (theFile) {
                //    return function (e) {
                //        var filePayload = e.target.result;

                //        //set the contents to our property
                //        cusElem.user.coverphoto = filePayload;
                //        document.getElementById("profile_background").style.backgroundImage = "url('" + reader.result + "')";
                //    };
                //})(f);
                //reader.readAsDataURL(f);
            },

            verifyImageFromFileReader: function (e) {

                var isimage = window.lfg.utils.isFileAnImage(e.target.result);

                if (isimage) {
                    this.getFileAsDataUrl(this.profileBlob);
                }
                else {
                    alert('The file you uploaded is NOT a valid image. Please upload a valid image. Ok buh-bye...');
                }
            },

            nextSetupSlide: function () {
            	this.entryAnimation = 'slide-from-right-animation';
            	this.exitAnimation = 'slide-left-animation';
            	this.selected = this.selected === 2 ? 0 : (this.selected + 1);
            },

            prevSetupSlide: function () {
            	this.entryAnimation = 'slide-from-left-animation';
            	this.exitAnimation = 'slide-right-animation';
            	this.selected = this.selected === 0 ? 2 : (this.selected - 1);
            },

            isImageToBig: function (file) {
                var cusElem = this;
                var img = new Image();
                img.src = file;

                return img.height > this.maxImageHeight || img.width > cusElem.maxImageWidth;
            },

            ready: function () {
                this.initializeData();
            },

            attached: function () {
            	this.registerPlugins();
            	this.registerEvents();
            }
        });
    })(window);
</script>

<script>
 (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

 ga('create', 'UA-66975307-1', 'auto');
 ga('send', 'pageview');

</script>